:root{
  --background-color: ;
  --background-color-alt: ;
  --text-color: ;
  --text-color-alt: ;
  --border-color: ;
  --border-color-alt: ;
  
  --header-size: ;
  --subtext-size: ;
  --h1-size: ;
  --h2-size: ;
  --h3-size: ;
  --p-size: ;
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: none;
}

/*Header Section*/

/*Navigation Section*/
/*Tab Nav Bar*/
/*Style the tab menu*/
.tab-menu{
  overflow: hidden;
  border-bottom: 2px solid #ccc;
}

/*Style the button inside the menu*/
.tab-menu button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/*Change background color of a butons on hover*/
.tab-menu button:hover{
  background-color: #ddd;
}

/*Create an active/current tablink class*/
.tab-menu button.active{
  border-bottom: 2px solid #000;
  font-weight: bold;
}

/*Style the tab content*/
.tab-content{
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}

/*About Section*/

/*Contact Section*/

/*Poloriod Images and Images*/
img{
  width: 200px;
  height: 200px;
}

/*Footer section*/

/*Media Qeuries*/